.jumbotron{
    background-image: url("https://cdn.newsapi.com.au/image/v1/25940ab648c05089dd4612d4f778d21c?width=1024");
    color: rgb(255, 255, 255);
    padding-bottom: 10px;
    max-width: 100%;
 
}
form{
    /* border: 2px solid #222; */
    padding:2%;
    padding-top: 0;
}
.btn-outline-light{
    color: rgb(255, 255, 255);
}
.fa{
    padding-right: 2px;
}
#articleContainer{
    margin-top:20px;
    min-height: 100px;
}
#brewology{
   width: 100%;
}
    